//變數
/*@import 'library/_variables';*/
//混用
/*@import 'library/_mixin';*/
//繼承
/*@import 'library/_extend';*/

//Page Components
@import "layout.scss";

//animation
@import "library/_animation";

//代收款項區塊
@import "library/_section-bankPayment";




//系統公告
.section-system-ticker {
    padding: 15px 15px;
    border-radius: 2px;
    background-color: $colorWhite;
    border: 1px solid $colorLightGray;
    display: flex;
    font-weight: 300;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    align-items: center;
    word-break: normal;

    .ticker-ttl {
        flex-shrink: 0;
        font-weight: 400;
        margin-right: 10px;

        p {
            display: inline-block;
        }

        .sea-seller-icon {
            display: inline-block;
            vertical-align: bottom;
            color: $primaryColor;
            font-size: 1.25rem;
            padding-right: 5px;
        }
    }
}

@media (max-width: $break-sm) {
    .section-system-ticker {
        .ticker-ttl {
            p {
                display: none;
            }
        }
    }
}



//上架/總覽區塊
.section-seller-dashboard {
    display: flex;
    flex-direction: row;

    .upload-peoduct-wrap {
        flex-shrink: 0;
        flex-basis: 200px;
        padding: 0rem 0.4rem 0.3rem 0.3rem;
        // align-items:stretch;

        .upload-peoduct-card {
            height: 86.888%;
            background-color: $colorWhite;
            @extend %shadow-style-card;
            padding: 3px;
            transition: 0.3s;

            &:hover {
                box-shadow: 0 2px 10px 0.1px rgba(0, 0, 0, 0.08);
                transition: 0.3s;
                transform: translateY(-2px);
            }

            .upload-peoduct-inner {
                width: 100%;
                height: 75%;
                background-color: $colorWhiteGreen;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                .inner-items {
                    .sea-seller-icon {
                        font-size: 3.5rem;
                        color: $colorLightGreen;
                    }

                    p {
                        font-size: 0.875rem;
                        font-weight: 500;

                        .sea-seller-icon {
                            display: inline-block;
                            vertical-align: bottom;
                            font-size: 1.3rem;
                            color: $primaryColor;
                            padding-right: 5px;
                            position: relative;
                            top: 1px;
                        }
                    }
                }
            }
        }
    }

    .dashboard-panel {
        width: 100%;

        .dashboard-card-wrap {
            display: inline-block;
            width: 24.999%;
            margin-right: -0.15rem;
            margin-left: -0.15rem;
            padding: 0rem 0.3rem 0.6rem 0.3rem;

            .dashboard-card {
                background-color: $colorWhite;
                min-height: 125px;
                border-radius: 2px;
                @extend %shadow-style-card;
                transition: 0.3s;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 10%;

                &:hover {
                    box-shadow: 0 2px 10px 0.1px rgba(0, 0, 0, 0.08);
                    transition: 0.3s;
                    transform: translateY(-2px);
                }

                .dashboard-card-icon {
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    border: 3px solid $colorGreyishWhite;
                    flex-shrink: 0;
                    margin-right: 10px;
                    text-align: center;
                    line-height: 65px;
                    font-size: 2.25rem;
                    position: relative;

                    .unread-reddot {
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        right: 0;

                        .redot {
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            z-index: 2;
                            width: 10px;
                            height: 10px;
                            background-color: rgba($colorPinkRed, 1);
                            border-radius: 50%;
                        }

                        .ripple {
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            z-index: 2;
                            width: 10px;
                            height: 10px;
                            background-color: rgba($colorPinkRed, 0.6);
                            border-radius: 50%;
                            -webkit-animation: rippleAnimation 1s ease-out infinite;
                            animation: rippleAnimation 1s ease-out infinite;
                        }
                    }

                    .sea-seller-icon {
                        color: $colorLightGreen;
                    }
                }

                .dashboard-card-num {
                    flex: 1;

                    ul {
                        li {
                            &.eng-num {
                                padding: 16px 0 0 0;
                                font-size: 1.75rem;
                                color: $colorGray;

                                &.unread {
                                    color: $primaryColor;
                                }
                            }

                            &.card-num-ttl {
                                padding: 0 0 12px 0;
                                @include text-overflow;
                                word-break: normal;
                                -webkit-box-orient: vertical;
                                font-size: 0.875rem;
                                line-height: 1.3rem;
                                min-height: 2.2rem;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $break-lg) {

    //上架/總覽區塊
    .section-seller-dashboard {
        flex-direction: column-reverse;

        .upload-peoduct-wrap {
            .upload-peoduct-card {
                height: 70px;

                .upload-peoduct-inner {
                    width: 100%;
                    height: 100%;
                    background-color: $colorWhite;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .inner-items {
                        .sea-seller-icon {
                            display: none;
                        }

                        p {
                            font-size: 0.875rem;
                            font-weight: 500;

                            span {
                                background-color: $primaryColor;
                                border-radius: 50%;
                                margin-right: 10px;
                            }

                            .sea-seller-icon {
                                color: $colorWhite;
                                padding-right: 0px;
                            }
                        }
                    }
                }
            }
        }

        .dashboard-panel {
            margin-bottom: 30px;

            .dashboard-card-wrap {
                padding: 0rem 0.2rem 0.6rem 0.3rem;

                .dashboard-card {
                    display: flex;
                    flex-direction: column;
                    padding: 10% 10% 0 10%;

                    .dashboard-card-icon {
                        font-size: 2.5rem;
                    }

                    .dashboard-card-num {
                        ul {
                            li {
                                text-align: center;

                                &.eng-num {
                                    padding: 5px 0 0 0;
                                    font-size: 1.5rem;
                                }

                                &.card-num-ttl {
                                    padding: 0 0 12px 0;
                                    font-size: 0.8125rem;
                                    line-height: 1.3rem;
                                    min-height: 2.2rem;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $break-sm) {

    //上架/總覽區塊
    .section-seller-dashboard {
        margin-bottom: 0;

        .upload-peoduct-wrap {
            // display: none;
            margin-bottom: -50px;
        }

        .dashboard-panel {
            margin-bottom: 30px;

            .dashboard-card-wrap {
                width: 33.3333%;

                .dashboard-card {
                    display: flex;
                    flex-direction: column;
                    padding: 15px 10px 0 10px;

                    .dashboard-card-icon {
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        margin-right: 0px;
                        margin-bottom: -5px;
                        border: none;
                        font-size: 2rem;

                        .unread-reddot {
                            top: 0px;
                            right: -10px;
                        }
                    }

                    .dashboard-card-num {
                        ul {
                            li {
                                text-align: center;

                                &.eng-num {
                                    padding: 0px 0 0 0;
                                    font-size: 1.5rem;
                                }

                                &.card-num-ttl {
                                    padding: 0 0 0px 0;
                                    font-size: 0.8125rem;
                                    line-height: 1.3rem;
                                    min-height: 2.2rem;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//手機版上架
.upload-peoduct-wrap-m {
    .upload-peoduct-card {
        height: 70px;
        @extend %shadow-style-card;
        padding: 3px;
        transition: 0.3s;
        border-radius: 2px;
        background-color: $colorWhite;

        &:hover {
            box-shadow: 0 2px 10px 0.1px rgba(0, 0, 0, 0.08);
            transition: 0.3s;
            transform: translateY(-2px);
        }

        .upload-peoduct-inner {
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            .inner-items {
                .sea-seller-icon {
                    display: none;
                }

                p {
                    font-size: 0.875rem;
                    font-weight: 500;

                    span {
                        background-color: $primaryColor;
                        border-radius: 50%;
                        margin-right: 10px;
                    }

                    .sea-seller-icon {
                        color: $colorWhite;
                        padding-right: 0px;
                    }
                }
            }
        }
    }
}