//賣家資訊 header
.account-header {
    min-height: 120px;
    background-color: $colorGreyishWhite;

    .account-wrap {
        display: flex;
        position: relative;

        //avatar頭像
        a {
            .avatar-wrap {
                width: 106px;
                height: 106px;
                border-radius: 50%;
                border: 3px solid $colorWhite;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
                position: relative;
                overflow: hidden;

                .avatar-img {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center center;
                }

                .avatar-edit {
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.6);
                    bottom: 0;
                    height: 35px;
                    width: 100%;
                    z-index: 10;
                    text-align: center;

                    .icon-camera {
                        color: $colorWhite;
                        font-size: 1rem;
                        line-height: 35px;
                    }
                }
            }
        }

        //資料
        .data-wrap {
            margin: auto 20px;

            .data-box {
                display: flex;
                text-align: left;
                align-items: center;

                @media (max-width: $break-sm) {
                    text-align: center;
                }

                .name {
                    max-width: calc(100% - 130px);
                    font-size: 1.5rem;
                    @include text-overflow(1);
                    height: 1.75rem;

                    @media (max-width: $break-sm) {
                        text-align: center;
                        max-width: 100%;
                    }
                }

                >a {
                    &.btn-gray {
                        margin-left: 12px;
                        background-color: $colorLightGray;
                        border: 1px solid $colorLightGray;
                        color: $colorBlack;
                    }
                }

                .product-num {
                    span {
                        color: $colorOrange;
                    }
                }
            }
        }

        //帳號設定
        .setting-wrap {
            position: absolute;
            right: 0;
            top: -0.75rem;

            border: 0;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            background-color: rgba($colorGreyishWhite, 0);

            >a {
                span {
                    position: relative;
                    top: 1px;
                    margin-right: 4px;
                }
            }
        }
    }
}






@media (max-width: $break-sm) {
    .account-header {
        .container.sea-gutters {
            overflow: hidden;
            padding-left: 0px;
            padding-right: 0px;

            .account-wrap {
                display: block;
                text-align: center;
                justify-content: center;
                margin: auto;

                a {
                    .avatar-wrap {
                        margin: auto;
                    }
                }

                .data-wrap {
                    .data-box {
                        .name {
                            margin: 15px auto;
                        }

                        &.block-sm-down {
                            display: block;

                            .hidden-sm-up {
                                margin: 20px 0;
                            }
                        }
                    }
                }

                .setting-wrap {
                    display: none;
                }
            }
        }
    }
}