//ACCORDION 折疊式內容
.sea-ui.accordion {
    background-color: $colorWhite;
    border: 1px solid $colorLightGray;
    margin-bottom: 0.75rem;

    //摺疊標題
    .accordion-caption {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        min-height: 75px;
        padding: 10px 20px 10px 20px;

        .caption-inner {
            display: flex;
            align-items: center;

            .caption-figure {
                flex-shrink: 0;
                flex-basis: 55px;
                border-radius: 50%;
                margin-right: 10px;
            }

            .caption-title-box {
                .caption-title {
                    font-size: 0.9375rem;
                    line-height: 24px;

                    img {
                        display: inline-block;
                        width: 70px;
                        vertical-align: middle;
                        margin-right: 3px;
                    }
                }

                .caption-text {
                    font-size: 0.8125rem;
                    line-height: 20px;
                    font-weight: 300;
                    color: $colorDeepGray;
                }
            }
        }

        .caption-text-box {
            font-size: 0.875rem;
            line-height: 20px;

            a {
                color: $primaryDeepColor;

                &.sea-seller-icon {
                    vertical-align: middle;
                    font-size: 1.25rem;
                    color: $primaryColor;
                }
            }

            .hint-text {
                color: $colorPinkRed;

                .sea-seller-icon {
                    margin-right: 5px;

                    &.icon-alert {
                        color: $colorPinkRed;
                    }
                }
            }
        }

        .sea-seller-icon {
            color: $colorGray;
        }

        &.active .sea-seller-icon {
            transform: rotate(180deg);
        }

        &.no-accordion {
            cursor: auto !important;
        }
    }

    .accordion-liquid-container {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f9f9f9;

        .liquid-container-inner {
            padding: 20px 15px 20px 20px;
            border-top: 1px solid $colorLightGray;

            .liquid-container-text {
                font-size: 0.8125rem;
                line-height: 20px;
                font-weight: 300;


                .liquid-container-text-gray {
                    color: $colorDeepGray;
                }

                .liquid-container-text-line {
                    text-decoration: line-through;
                }

                .liquid-container-text-red {
                    color: $colorPinkRed;
                }

                a {
                    text-decoration: underline;
                    color: $primaryDeepColor;

                    &:hover {
                        text-decoration: none;
                    }
                }





            }

            >dl {
                margin: 5px 0;

                >dd {
                    width: 35px;
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
    }
}