//彈跳訊息bar
.msgbar {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 300;
    margin-bottom: 20px;

    //  警告
    .alert {
        position: relative;
        background-color: #fee4e4;
        color: $colorPinkRed;
        font-weight: 500;
        padding: 16px 40px 16px 40px;
        border-radius: 2px;

        .pct-icon {
            position: absolute;
            font-size: 1.125rem;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        .pct-icon.icon-alert {
            left: 15px;
        }

        .pct-icon.icon-delete {
            right: 15px;
        }

        > a {
            color: $primaryDeepColor;
            text-decoration: underline;
        }
    }
}
