.section-footer {
    // padding: 16px 0;
    height: 40px;
    background-color: $colorGrayBlack;

    .sea-section-content {
        p.footer-ttl {
            font-weight: 400;
            font-size: 0.9375rem;
            margin-bottom: 0.9375rem;
        }

        p.footer-text {
            color: $colorDeepGray;
            font-size: 0.8125rem;
            margin-bottom: 0.3125rem;
            line-height: 1rem;

            a {
                color: $colorDeepGray;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        //隱私條款
        &.privacy {
            width: 100%;
            text-align: center;
            font-size: 0.75rem;
            color: $colorWhite;
            height: auto;
            padding: 0 0.9375rem;

            .privacy-wrap {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;

                .sea-footer-logoprivacy {
                    margin: 8px 0 5px 0;
                    color: $colorDeepGray;

                    >ul {
                        display: flex;
                        align-items: center;
                        position: relative;
                        top: 5px;

                        li {
                            &.sea-footerlogo {
                                width: 156px;
                                height: 52px;
                                background-image: url(../img/img_pchomesea_white.svg);
                                margin-right: 12px;
                                position: relative;
                                top: -0px;
                                background-repeat: no-repeat;
                                background-position: center center;
                            }
                        }
                    }
                }

                .sea-footer-contact {
                    margin: 5px 0 5px 0;
                    position: relative;
                    top: 5px;

                    >ul {
                        color: $colorDeepGray;
                        display: flex;
                        justify-content: center;

                        >li {
                            line-height: 1rem;

                            .sea-seller-icon {
                                padding-right: 5px;
                            }

                            a {
                                color: $colorDeepGray;
                            }

                            padding: 0 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $break-sm) {
    .section-footer {
        height: auto;

        .sea-section-content {

            //隱私條款
            &.privacy {
                padding: 0.75rem 0.9375rem 0.9375rem 0.9375rem;

                .privacy-wrap {
                    display: block;

                    .sea-footer-logoprivacy {
                        margin: 5px 0;

                        >ul {
                            display: block;

                            li {
                                &.sea-footerlogo {
                                    display: none;
                                }
                            }
                        }
                    }

                    .sea-footer-contact {
                        >ul {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}