//表單--Input Number 數量輸入
%input-number {
    border-radius: 0;
    vertical-align: top;
    text-align: center;
    width: 100px;
}

%number-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #fbfbfb;
    text-align: center;
    cursor: pointer;
    border: 1px solid #cfd9db;
    margin-top: 2px;
    line-height: 40px;
}

.sea-ui.form.number {
    display: flex;
    align-items: center;

    label {
        font-size: 0.875rem;
        padding: 0rem 0.5rem 0 0rem;
    }

    .number-controller {
        display: flex;
        align-items: center;

        input[type="number"] {
            @extend %input-number;
            margin-top: 8px;
            -moz-appearance: textfield;
            -webkit-appearance: textfield;
            -o-appearance: textfield;
        }

        .number-btn {
            flex-shrink: 0;
            @extend %number-btn;
            color: $primaryColor;

            .number__decrement {
                border-right: none;
                margin-left: -2px;
                border-left: none;
                margin-right: -2px;
            }
        }

        .number-btn:first-child {
            position: relative;
            left: 1px;
        }

        .number-btn:last-child {
            position: relative;
            right: 1px;
        }
    }
}

//表單--數字--無法點擊
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
}

.sea-ui.form-disabled.number {
    display: flex;
    align-items: center;

    label {
        font-size: 0.875rem;
        padding: 0rem 0.5rem 0 0rem;
    }

    .number-controller {
        display: flex;
        align-items: center;

        input[type="number"] {
            @extend %input-number;
            -moz-appearance: textfield;
            -webkit-appearance: textfield;
            -o-appearance: textfield;
            margin-top: 8px;
        }

        .number-btn {
            flex-shrink: 0;
            @extend %number-btn;
            color: $colorGray;
            -webkit-text-fill-color: $colorGray;
            cursor: not-allowed;

            .number__decrement {
                border-right: none;
                margin-left: -2px;
                border-left: none;
                margin-right: -2px;
            }
        }

        .number-btn:first-child {

            background-color: red;
            color: red;
        }
    }
}

//Anson
//表單--Input Number 數量輸入 (自適應)
%input-number-responsive {
    border-radius: 0;
    vertical-align: top;
    text-align: center;
    min-width: 52px;
    height: 36px;
}

%number-btn-responsive {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background: #fbfbfb;
    text-align: center;
    cursor: pointer;
    border: 1px solid #cfd9db;
    margin-top: 2px;
}

.sea-ui.form.number-responsive {
    label {
        font-size: 0.875rem;
        padding: 0rem 0.5rem 0 0rem;
    }

    .number-controller {
        display: flex;
        align-items: center;

        input[type="number"] {
            @extend %input-number-responsive;
            margin-top: 7px;
            -moz-appearance: textfield;
            -webkit-appearance: textfield;
            -o-appearance: textfield;
            padding: 0rem;
        }

        .number-btn {
            flex-shrink: 0;
            @extend %number-btn-responsive;
            color: $primaryColor;
            font-size: 0.875rem;

            .number__decrement {
                border-right: none;
                margin-left: -2px;
                border-left: none;
                margin-right: -2px;
            }
        }

        .number-btn:first-child {
            background-color: red;
            color: red;
        }
    }
}

//表單--Input Number 數量輸入 (自適應)
@media (max-width: $break-md) {
    %input-number-responsive-md {
        min-width: 36px;
        max-width: 72px;
        height: 30px;
    }

    %number-btn-responsive-md {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .sea-ui.form.number-responsive {
        .number-controller {
            input[type="number"] {
                @extend %input-number-responsive-md;
            }

            .number-btn {
                flex-shrink: 0;
                @extend %number-btn-responsive-md;
            }
        }
    }
}

//表單--Input Number 數量輸入 (自適應)
@media (max-width: $break-xxs) {
    %input-number-responsive-xxs {
        max-width: 40px;
        height: 26px;
        font-size: 0.8125rem;
    }

    %number-btn-responsive-xxs {
        width: 26px;
        height: 26px;
        line-height: 26px;
    }

    .sea-ui.form.number-responsive {
        .number-controller {
            input[type="number"] {
                @extend %input-number-responsive-xxs;
            }

            .number-btn {
                flex-shrink: 0;
                @extend %number-btn-responsive-xxs;
            }
        }
    }
}