//labels相關
.sea-ui.form-label.break-label {
    display: block;
    margin-bottom: 10px;
    text-align: left;

    label {
        display: block;
        /* 加這個才會可以有padding的作用*/
        padding: 0rem 0rem 5px 0rem;
    }
}

.sea-ui.form-select-label.break-label {
    display: block;
    margin-bottom: 20px;
    text-align: left;

    label {
        display: block;
        /* 加這個才會可以有padding的作用*/
        padding: 0rem 0rem 5px 0rem;
    }

    .sea-ui.form.select {
        margin-right: 0px;
        margin-top: 2px;
    }
}

.sea-ui.form-label label {
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0rem 0.5rem 0 0rem;
}

.sea-ui.form-select-label label {
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.75rem 0.5rem 0 0rem;
}

.sea-ui.form-textarea-label label {
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.9375rem 0.5rem 0.5rem 0;
}

@media (max-width: $break-lg) {
    .sea-ui.form-textarea-label label {
        padding: 0rem 0.5rem 0.5rem 0;
    }
}

.sea-ui.form-label.fluid,
.sea-ui.form-label,
.sea-ui.form-select-label {
    display: flex;
    align-items: baseline;
}

.sea-ui.form-textarea-label {
    display: flex;
    align-items: top;

    .sea-ui.form {
        flex: 1;
    }
}

.sea-ui.form-label.error {
    .error-notification-tooltip-inline {
        display: block !important;
    }
}

.error-notification-tooltip-inline {
    display: none;
}

.form-textList {
    margin: 2px 0 6px 0;

    >p {
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin-bottom: 6px;

        &.alert {
            color: $colorPinkRed;
        }

        >a {
            text-decoration: underline;
            color: $primaryDeepColor;
        }

        >a:hover {
            text-decoration: none;
        }
    }
}