//Forms_Input 輸入框相關
.sea-ui.form input:not([type]),
.sea-ui.form input[type="date"],
.sea-ui.form input[type="datetime-local"],
.sea-ui.form input[type="email"],
.sea-ui.form input[type="file"],
.sea-ui.form input[type="number"],
.sea-ui.form input[type="password"],
.sea-ui.form input[type="search"],
.sea-ui.form input[type="tel"],
.sea-ui.form input[type="text"],
.sea-ui.form input[type="time"],
.sea-ui.form input[type="url"],
.sea-ui.form textarea {
    font-family: "Sukhumvit Set", "Helvetica Neue", "Tahoma", "Helvetica",
        "Arial", "WenQuanYi Zen Hei", "Hiragino Sans GB", "LiHei Pro",
        "Heiti TC", "Microsoft JhengHei UI", "Microsoft JhengHei", "sans-serif";
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    margin: 2px 0 6px 0;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.375rem;
    border-radius: 2px;
    border: 1px solid #dadada;
    background-color: $colorWhite;
    color: $colorGrayBlack;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
    appearance: none;
    font-weight: 300;
}

.sea-ui.form input:not([type]):focus,
.sea-ui.form input[type="date"]:focus,
.sea-ui.form input[type="datetime-local"]:focus,
.sea-ui.form input[type="email"]:focus,
.sea-ui.form input[type="file"]:focus,
.sea-ui.form input[type="number"]:focus,
.sea-ui.form input[type="password"]:focus,
.sea-ui.form input[type="search"]:focus,
.sea-ui.form input[type="tel"]:focus,
.sea-ui.form input[type="text"]:focus,
.sea-ui.form input[type="time"]:focus,
.sea-ui.form input[type="url"]:focus,
.sea-ui.form textarea:focus {
    outline: none;
    border-color: $primaryColor;
    box-shadow: 0 0 5px rgba($primaryDeepColor, 0.5);
}

.sea-ui.form-disabled input:disabled,
.sea-ui.form-disabled input.disabled,
.sea-ui.form-disabled input[disabled],
.sea-ui.form-disabled input.disabled:hover,
.sea-ui.form-disabled input[disabled]:hover,
.sea-ui.form-disabled input.disabled:active,
.sea-ui.form-disabled input[disabled]:active {
    @extend %ui-disabled;
    border: 1px solid #dadada;
    color: $colorGray;
    -webkit-text-fill-color: $colorGray;
    box-shadow: none;
    padding: 0.5rem 0.75rem;
    margin: 2px 0 6px 0;
    width: 100%;
    font-size: 0.875rem;
    border-radius: 2px;
    font-family: "Sukhumvit Set", "Helvetica Neue", "Tahoma", "Helvetica",
        "Arial", "WenQuanYi Zen Hei", "Hiragino Sans GB", "LiHei Pro",
        "Heiti TC", "Microsoft JhengHei UI", "Microsoft JhengHei", "sans-serif";
    font-weight: 300;
}

// 文字框中顯示提示訊息
.sea-ui.form input::placeholder,
.sea-ui.form textarea::placeholder {
    color: $colorGray;
    font-weight: 300;
    -webkit-text-fill-color: $colorGray;
}

// 僅能閱讀
.sea-ui.form.form-readonly input {
    border: 0px;
    box-shadow: none;
    padding: 0.5rem 0.75rem 0.5rem 0rem;
    margin: 2px 0 6px 0;
    width: 100%;
    font-size: 0.875rem;
    font-family: "Sukhumvit Set", "Helvetica Neue", "Tahoma", "Helvetica",
        "Arial", "WenQuanYi Zen Hei", "Hiragino Sans GB", "LiHei Pro",
        "Heiti TC", "Microsoft JhengHei UI", "Microsoft JhengHei", "sans-serif";
    font-weight: 400;
    outline: none;
}

//帶有單位的表單-後
.unit-after {
    position: relative;

    &:after {
        position: absolute;
        font-size: 0.875rem;
        right: 15px;
        top: 13px;
        color: $colorWhiteGray;
        font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    }
}

//帶有單位的表單-前
.unit-before {
    position: relative;

    &:before {
        position: absolute;
        font-size: 0.875rem;
        left: 15px;
        top: 13px;
        color: $colorWhiteGray;
        font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    }
}

// (輸入框＋按鈕) 群組
.sea-ui.form.inputGroup {
    display: flex;
    flex-wrap: nowrap;

    .inputGroup-inputBox {
        flex: 1;
        // max-width: 240px;

        .sea-ui.form {
            input {
                margin: 0;
            }

            select {
                position: relative;
                left: 1px;
            }
        }
    }

    .inputGroup-btn {
        flex-shrink: 0;
        text-align: center;
        position: relative;
        top: -1px;
    }
}

// (輸入框＋按鈕) 群組 + 其他選項
.inputGroupWithOption {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    max-width: 690px;
    // margin: 12px 0 18px 0;

    .inputGroupWithOption-inner {
        max-width: 420px;
        flex: 1;
    }
}

@media (max-width: $break-sm) {
    .inputGroupWithOption {
        flex-direction: column;
        align-items: flex-start;

        .inputGroupWithOption-inner {
            width: 100%;
        }
    }
}

.sea-ui.form {
    textarea {
        min-height: 8rem;
        max-height: 10rem;

        @media (max-width: $break-sm) {
            min-height: 16rem;
            max-height: 25rem;
        }
    }
}

.fluid input:not([type]),
.fluid input[type="date"],
.fluid input[type="datetime-local"],
.fluid input[type="email"],
.fluid input[type="file"],
.fluid input[type="number"],
.fluid input[type="password"],
.fluid input[type="search"],
.fluid input[type="tel"],
.fluid input[type="text"],
.fluid input[type="time"],
.fluid input[type="url"],
.fluid textarea {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.sea-ui.form.error input,
.sea-ui.form.error textarea {
    border-color: $colorPinkRed;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0.125rem 0 0 0;
}

.sea-ui.form.error input::placeholder,
.sea-ui.form.error textarea::placeholder {
    color: #e0b4b4;
    font-weight: 300;
    -webkit-text-fill-color: #e0b4b4;
}

.sea-ui.form.error {
    .error-notification-tooltip-inline {
        display: block !important;
    }
}

.error-notification-tooltip-inline {
    font-size: 0.75rem;
    font-weight: 300;
    color: $colorPinkRed;
    line-height: 1.5rem;
    padding-left: 0.3125rem;
    margin: 0rem 0 0.375rem 0;
    text-align: left;
    // display: none;
}

//金額 - 泰銖
.sea-ui.form.product-price-THbaht {

    input[type="text"],
    input[type="tel"] {
        padding-left: 36px;
    }

    &:before {
        content: "฿";
    }
}

//金額 - 美金
.sea-ui.form.product-price-USdollar {

    input[type="text"],
    input[type="tel"] {
        padding-left: 30px;
    }

    &:before {
        content: "$";
    }
}

//金額 - 新台幣
.sea-ui.form.product-price-TWdollar {

    input[type="text"],
    input[type="tel"] {
        padding-left: 43px;
        left: -60px;
    }

    &:before {
        position: absolute;
        content: "NT$";
    }
}

//重量 - 公斤
.sea-ui.form.product-weight-kilogram {

    input[type="text"],
    input[type="tel"] {
        padding-right: 43px;
        right: 6px;
    }

    &:after {
        position: absolute;
        content: "kg";
    }
}

//長度 - 公分
.sea-ui.form.product-length-centimeter {

    input[type="text"],
    input[type="tel"] {
        padding-right: 43px;
        right: 6px;
    }

    &:after {
        position: absolute;
        content: "cm";
    }
}

// 文字說明（搭配）
.form-introduction {
    position: relative;
    // top: -1rem;
    font-size: 0.875rem;
    color: $colorDeepGray;
    margin-bottom: 1rem;
    text-align: left;

    // @media (max-width: $break-xs) {
    // top: -1rem;
    // }
}