//交易貨款區塊
// .section-seller-bank-payment,
// .section-seller-bank-payment-mini,
// .section-seller-bank-payment-mini-inLightBox {

.section-seller-bank-payment {
    display: flex;
    background: $gradientColorGreen;
    border-radius: 4px;
    padding: 15px 20px;
    min-height: 120px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    .box-ttl {
        text-align: left;
        font-size: 0.8125rem;
        color: $colorDeepLightGreen;
        padding: 5px 0;
    }

    //帳戶餘額
    .current-balance {
        flex: 5;

        .balance-num {
            color: $colorWhite;
            font-size: 2.2rem;
            text-align: center;
            padding: 10px 0;

            span {
                font-size: 0.875rem;
                padding-right: 10px;
            }

            >a {
                color: $colorWhite;
            }
        }
    }

    //連結銀行
    .linked-bank-account {

        flex: 11;
        position: relative;

        .payment-setting {
            position: absolute;
            right: 0px;
            font-size: 0.8125rem;

            a {
                color: $colorLightGray;

                .sea-seller-icon {
                    font-size: 0.9375rem;
                    padding-right: 5px;
                    position: relative;
                    top: 2px;
                }
            }
        }

        .bank-info {
            display: flex;
            justify-content: flex-end;
            padding: 15px 0;
            color: $colorWhite;
            font-size: 0.9375rem;
            font-weight: 300;
            pointer-events: none;

            .icon-bank {
                font-size: 2.5rem;
                color: $colorLightGray;
            }

            .linked-bank-account {
                display: flex;
                align-items: flex-end;
                padding: 0 0 0 15px;

                .bank-account {
                    flex-shrink: 0;
                    flex-basis: 220px;

                    a.btn-xs {
                        display: inline-block;
                        margin-top: 0rem;
                        margin-bottom: 0rem;
                        margin-left: 0rem;
                        margin-right: 0rem;
                        font-size: 0.75rem;
                        border-radius: 3px;
                        font-weight: 400;
                        color: $colorWhite;
                        background-color: none;
                        border: 1px solid $colorLightGray;
                        padding: 0.4375rem 0.5rem 0.3125rem 0.5rem;

                        &:hover {
                            color: $primaryColor;
                            background-color: $colorWhite;
                            transform: translateY(-2px);
                        }
                    }
                }

                .bank-name-num {
                    flex: 10;

                    ul {
                        li {
                            display: inline-block;
                            vertical-align: top;
                            padding-left: 5px;
                            text-align: right;

                            &.bank-name {
                                border-right: 1px solid $colorLightGray;
                                padding-right: 5px;
                                min-width: 210px;
                                max-width: 210px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }

                            &.bank-num {
                                max-width: 110px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:$break-lg) {

    //交易貨款區塊
    .section-seller-bank-payment {

        //帳戶餘額
        .current-balance {
            .balance-num {
                font-size: 1.8rem;
            }
        }

        //連結銀行
        .linked-bank-account {

            .payment-setting {
                position: absolute;
                right: 0px;
                font-size: 0.8125rem;

                a {
                    color: $colorLightGray;

                    .sea-seller-icon {
                        font-size: 0.9375rem;
                        padding-right: 5px;
                    }
                }
            }

            .bank-info {
                .linked-bank-account {
                    display: block;

                    .bank-account {
                        flex-basis: auto;
                    }

                    .bank-name-num {
                        ul {
                            li {
                                text-align: left;
                                margin: 5px 0;

                                &.bank-name {
                                    padding-left: 0;
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width:$break-sm) {

    //交易貨款區塊
    .section-seller-bank-payment {
        display: block;

        //帳戶餘額
        .current-balance {
            .balance-num {
                text-align: center;
                font-size: 2.5rem;
                padding: 5px 0 15px 0;
            }
        }
    }
}

@media (max-width: $break-sm) {

    //交易貨款區塊
    .section-seller-bank-payment {
        display: block;

        //帳戶餘額
        .current-balance {
            .balance-num {
                text-align: center;
                font-size: 2.5rem;
                padding: 5px 0 15px 0;
            }
        }
    }
}

@media (max-width:$break-xxs) {

    //交易貨款區塊
    .section-seller-bank-payment {
        display: block;

        //帳戶餘額
        .current-balance {
            .balance-num {
                padding: 5px 0;
                align-items: center;
            }
        }

        //連結銀行
        .linked-bank-account {
            .bank-info {
                padding: 5px 0;
                align-items: center;

                .icon-bank {
                    margin-right: 8px;
                }

                .linked-bank-account {
                    display: block;

                    .bank-account {
                        flex-basis: auto;
                    }

                    .bank-name-num {
                        ul {
                            li {
                                display: block;
                                text-align: left;
                                margin: 5px 0;
                                padding-left: 0;

                                &.bank-name {
                                    border-right: none;
                                }

                                &.bank-num {
                                    max-width: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}