// 滑動面板－訂單明細（全站共用)
@import "_slide-panel-orderlist";

// --- 面板 ---------------------
.sea-panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.6s;
    transition: visibility 0s 0.6s;
    z-index: 20000;

    &::after {
        /* overlay layer */
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        cursor: pointer;
        -webkit-transition: background 0.3s 0.3s;
        transition: background 0.3s 0.3s;
    }

    &.sea-panel--is-visible {
        visibility: visible;
        -webkit-transition: visibility 0s 0s;
        transition: visibility 0s 0s;

        &::after {
            background: rgba(0, 0, 0, 0.6);
            -webkit-transition: background 0.3s 0s;
            transition: background 0.3s 0s;
        }
    }
}

.sea-panel__content-addMarginBottom {
    margin-bottom: 70px;
}

.sea-panel__header {
    position: fixed;
    width: 100%;
    height: $headerHeight_table;
    line-height: $headerHeight_table;
    text-align: left;
    padding: 0rem 1.5625rem 0 1.5625rem;
    background: rgba(255, 255, 255, 0.96);
    z-index: 2;
    font-weight: 500;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-transition: -webkit-transform 0.3s 0s;
    transition: -webkit-transform 0.3s 0s;
    transition: transform 0.3s 0s;
    transition: transform 0.3s 0s, -webkit-transform 0.3s 0s;
    -webkit-transform: translateY(calc(0px - #{$headerHeight_table}));
    -ms-transform: translateY(calc(0px - #{$headerHeight_table}));
    transform: translateY(calc(0px - #{$headerHeight_table}));

    .sea-panel__header-title {
        font-size: 1.125rem;
    }
}

.sea-panel--from-right .sea-panel__header {
    right: 0;
}

.sea-panel--from-left .sea-panel__header {
    left: 0;
}

.sea-panel--is-visible .sea-panel__header {
    -webkit-transition: -webkit-transform 0.3s 0.3s;
    transition: -webkit-transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

@media only screen and (min-width: $break-sm) {
    .sea-panel__header {
        width: 90%;
    }
}

@media only screen and (min-width: 1170px) {
    .sea-panel__header {
        width: 75%;
    }
}

@media only screen and (min-width: 1920px) {
    .sea-panel__header {
        width: 50%;
    }
}

.sea-panel__close {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: $headerHeight_table;
    text-align: center;
}

.sea-panel__close {
    .sea-seller-icon {
        width: $headerHeight_table;
        height: $headerHeight_table;
        z-index: 990000;
        display: block;
        font-size: 2rem;
        color: $colorGray;
        line-height: $headerHeight_table;
        pointer-events: none;
    }
}

.sea-panel__container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: $colorWhite;
    background: #f6f6f6;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.3s 0.3s;
    transition: -webkit-transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
    padding-bottom: 90px;
}

.sea-panel--from-right .sea-panel__container {
    right: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.sea-panel--from-left .sea-panel__container {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.sea-panel--is-visible .sea-panel__container {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

@media only screen and (min-width: $break-sm) {
    .sea-panel__container {
        width: 90%;
    }
}

@media only screen and (min-width: $break-lg) {
    .sea-panel__container {
        width: 75%;
    }
}

@media only screen and (min-width: $break-xl) {
    .sea-panel__container {
        width: 50%;
    }
}

.sea-panel__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px 8px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @media (max-width: $break-lg) {
        padding: 70px 0px;
    }

    .sea-ui.modal {
        width: 100%;
        box-shadow: 0 0 0 0;
        padding: 0;
        margin-bottom: 18px;

        .modal-content {
            padding-bottom: 1rem;

            .description {
                padding-bottom: 0rem;
            }
        }
    }
}

@media only screen and (max-width: $break-md) {
    .sea-panel__header {
        .sea-panel__header-title {
            font-size: 1.125rem;
        }
    }
}

.sea-panel__content-actions {
    position: fixed;
    z-index: 10;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: $colorWhite;
    padding: 6px 0 12px 0;
    @extend %shadow-style-inner-block;
}

@media only screen and (max-width: $break-xs) {
    .sea-panel__header {
        .sea-panel__header-title {
            font-size: 1.125rem;
            line-height: 54px;
        }
    }

    .sea-panel__close {
        top: -5px;
    }
}





// 全站共用 panel (assets/slide-panel/panel-global.php)
// 訂單明細
// modal 內的所有訂單資訊
.description {

    // 所有訂單容器
    .listBox {
        margin-bottom: 3rem;

        @media (max-width: $break-md) {
            margin-bottom: 1.5rem;
        }

        // 單筆訂單
        .listBox-singlelist {
            background-color: $colorWhite;
            box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
            margin: 0;

            >.flexTable {
                padding: 10px 10px;
                border-bottom: 2px solid #f7f7f7;

                @media (max-width: $break-md) {
                    padding: 8px 8px;
                }

                // 訂單商品區  
                &.orderlist-productBar {
                    flex-direction: row;


                    .flexTable {
                        border-bottom: 0px;
                    }

                    .productBar-total {
                        max-width: 84px;
                        min-width: 84px;

                        .total-amount {
                            width: 100%;
                            text-align: right;
                        }
                    }
                }

                // 訂單明細標頭區, 訂單明細內容區,訂單明細結帳總金額區（訂單明細）
                &.orderlist-header,
                &.orderlist-body,
                &.orderlist-footer {
                    border-bottom: 0px;

                    span {
                        font-size: 0.875rem;
                        @include text-overflow(1);
                        line-height: 1rem;
                        flex: 1;
                    }

                    span.amount {
                        width: 68px;
                        max-width: 68px;
                        margin-left: 8px;
                        text-align: right;
                    }

                    span.amount.amount-discount {
                        color: $colorPinkRed;
                    }
                }

                // 訂單明細標頭區 （訂單明細）
                &.orderlist-header {
                    background-color: $colorWhiteGreen;

                    .orderlist-buyer {
                        width: 100%;
                        min-width: 120px;

                        .buyeeAvatar {
                            margin-right: 6px;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                        }

                        .buyerName {
                            @include text-overflow(1);
                            line-height: 1rem;

                            //  買家訂單來源國家
                            .buyerCountry {
                                display: inline;
                            }

                            .buyerCountry::before {
                                content: "  ／  ";
                                font-weight: 300;
                            }
                        }
                    }

                    >a {
                        width: auto;
                        min-width: 126px;
                    }
                }

                // 訂單明細內容區 （訂單明細）
                &.orderlist-body {
                    background-color: $colorGreyishWhite;
                    border-bottom: 2px solid #f7f7f7;
                }

                // 訂單明細結帳總金額區 （訂單明細）
                &.orderlist-footer {
                    background-color: $colorWhiteGreen;

                    span {
                        font-size: 0.935rem;
                        font-weight: 500;
                        color: $secondaryColor;
                    }
                }

            }
        }
    }
}