@font-face {
    font-family: "pct-icon";
    src: url("../../fonts/icon/pct-icon.eot?fdtib");
    src: url("../../fonts/icon/pct-icon.eot?fdtib#iefix") format("embedded-opentype"),
        url("../../fonts/icon/pct-icon.ttf?fdtib") format("truetype"),
        url("../../fonts/icon/pct-icon.woff?fdtib") format("woff"),
        url("../../fonts/icon/pct-icon.svg?fdtib#pct-icon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "pct-icon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-setting:before {
    content: "\e93c";
}

.icon-faq:before {
    content: "\e93b";
}
.icon-shop:before {
    content: "\e900";
}
.icon-question:before {
    content: "\e901";
}
.icon-checked:before {
    content: "\e902";
}
.icon-cart:before {
    content: "\e903";
}
.icon-homepage:before {
    content: "\e904";
}
.icon-globe:before {
    content: "\e905";
}
.icon-logout:before {
    content: "\e906";
}
.icon-bars:before {
    content: "\e907";
}
.icon-cloud-uploading:before {
    content: "\e908";
}
.icon-download:before {
    content: "\e909";
}
.icon-tel:before {
    content: "\e90a";
}
.icon-email:before {
    content: "\e90b";
}
.icon-edit:before {
    content: "\e90c";
}
.icon-rotate:before {
    content: "\e90d";
}
.icon-preview:before {
    content: "\e90e";
}
.icon-arrow-up:before {
    content: "\e90f";
}
.icon-arrow-down:before {
    content: "\e910";
}
.icon-alert:before {
    content: "\e911";
}
.icon-trash:before {
    content: "\e912";
}
.icon-heart-on:before {
    content: "\e913";
}
.icon-heart-off:before {
    content: "\e914";
}
.icon-wait:before {
    content: "\e915";
}
.icon-receipt:before {
    content: "\e916";
}
.icon-equal:before {
    content: "\e917";
}
.icon-information:before {
    content: "\e918";
}
.icon-camera:before {
    content: "\e919";
}
.icon-star-half:before {
    content: "\e91a";
}
.icon-star-off:before {
    content: "\e91b";
}
.icon-star-on:before {
    content: "\e91c";
}
.icon-calender:before {
    content: "\e91d";
}
.icon-location:before {
    content: "\e91e";
}
.icon-bank-verified:before {
    content: "\e91f";
}
.icon-bank:before {
    content: "\e920";
}
.icon-setting-line:before {
    content: "\e921";
}
.icon-avatar-face:before {
    content: "\e922";
}
.icon-avatar:before {
    content: "\e923";
}
.icon-notification:before {
    content: "\e924";
}
.icon-delete:before {
    content: "\e925";
}
.icon-speaker:before {
    content: "\e926";
}
.icon-refund:before {
    content: "\e927";
}
.icon-odercancel:before {
    content: "\e928";
}
.icon-ordermsg:before {
    content: "\e929";
}
.icon-replen:before {
    content: "\e92a";
}
.icon-dispatch:before {
    content: "\e92b";
}
.icon-pay:before {
    content: "\e92c";
}
.icon-picture:before {
    content: "\e92d";
}
.icon-comment:before {
    content: "\e92e";
}
.icon-plus:before {
    content: "\e92f";
}
.icon-callcenter:before {
    content: "\e930";
}
.icon-moving:before {
    content: "\e931";
}
.icon-seller-shop:before {
    content: "\e932";
}
.icon-productedit:before {
    content: "\e933";
}
.icon-payment:before {
    content: "\e934";
}
.icon-orderlist:before {
    content: "\e935";
}
.icon-angle-down:before {
    content: "\e936";
}
.icon-angle-up:before {
    content: "\e937";
}
.icon-angle-right:before {
    content: "\e938";
}
.icon-angle-left:before {
    content: "\e939";
}
.icon-caret-right:before {
    content: "\e93a";
}
